<h1>License Management Application</h1>
<img src="https://i.pinimg.com/564x/35/a5/2f/35a52f796b74b1d59c2088ea01fb1a78.jpg" />


<h3>About this project</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac cursus ipsum. Phasellus commodo iaculis orci.
    Fusce mi eros, euismod quis nisi non, laoreet porta ipsum. Praesent neque dui, vulputate eu nulla sit amet,
    luctus tincidunt est. Duis gravida at lectus et vulputate. Sed congue leo id elit varius, ac varius quam posuere. Pellentesque egestas efficitur tincidunt. In sit amet risus elit. Sed libero nunc, fermentum eget augue eget, convallis elementum turpis. Fusce tincidunt malesuada leo vel semper. Proin sit amet sollicitudin lectus. Suspendisse in quam non eros egestas tristique.
    Etiam laoreet, tortor nec rutrum hendrerit, enim eros cursus ligula, sit amet vestibulum nibh erat vitae elit. </p>

<p>Welcome to my new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
