<p>Add/Edit employee</p>

<mat-card class="example-card">
    <form *ngIf="formGroup" [formGroup]="formGroup">
        <div class="example-container">

            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name" type="text">

                <mat-error *ngIf="formGroup.get('name').touched && formGroup.get('name').errors && formGroup.get('name').errors.required">
                    Name required!
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Position" formControlName="position" type="text">

                <mat-error *ngIf="formGroup.get('position').touched && formGroup.get('position').errors && formGroup.get('position').errors.required">
                    Position required!
                </mat-error>
            </mat-form-field>

        </div>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="save()">Save</button>
            <button mat-raised-button color="primary" [routerLink]='routerLink'>Cancel</button>
        </div>
    </form>
</mat-card>
